.cart-page-layout {
  display: grid;
  grid-template-columns: 1fr; /* Mobile first */
  gap: 2rem;
}

/* On larger screens, show a two-column layout */
@media (min-width: 992px) {
  .cart-page-layout {
    grid-template-columns: 2fr 1fr;
  }
}

.checkout-form-container-wrapper .checkout-form-container {
  /* This just makes the checkout form stick to the top on large screens */
  position: sticky;
  top: 100px; /* (Header height + padding) */
  margin-top: 0; /* Override old margin */
}